body{
    padding: 100px;
}
#transition-area{
    display: none;
}
.status{
    color: white;
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;

}
.submit-area{
    margin: 0 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
